<!-- Page Content -->
<div class="container">

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header text-center">About Me</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center"></div>
    <div class="col-lg-4 col-sm-6 text-center">
      <img class="img-circle img-responsive img-center" src="/app/images/photo.jpg" alt="failed to load an image">
      <h3>Michael Savitskiy
        <small>Sr. Technical Writer / Software Engineer</small>
      </h3>
      <p>Just a simple description under a gorgeous photo.</p>
    </div>
  </div>
</div>

<hr>

<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>No Copyright &copy; :) My An2Website 2016</p>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</footer>
