<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/app/images/typescript.jpg" alt="failed to load an image">
      <div class="caption">
        <h3>TypeScript</h3>
        <p>Use the buttons below for additional info</p>
        <p><a href="https://www.typescriptlang.org/" class="btn btn-primary" role="button">Typescriptlang.org</a> <a href="https://www.typescriptlang.org/docs/tutorial.html" class="btn btn-default" role="button">TypeScript Docs</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/app/images/hammer.jpg" alt="failed to load an image">
      <div class="caption">
        <h3>Angular 2.0</h3>
        <p>Use the buttons below for additional info</p>
        <p><a href="https://angular.io/" class="btn btn-primary" role="button">Angular.io</a> <a href="https://angular.io/docs/ts/latest/" class="btn btn-default" role="button">Angular 2 Docs</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/app/images/bootstrap.png" alt="failed to load an image">
      <div class="caption">
        <h3>Twitter Bootstrap 3</h3>
        <p>Use the buttons below for additional info</p>
        <p><a href="http://getbootstrap.com/" class="btn btn-primary" role="button">Getbootstrap.com</a> <a href="http://getbootstrap.com/components/" class="btn btn-default" role="button">Bootstrap Components</a></p>
      </div>
    </div>
  </div>

</div>

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Congrats!!!</strong> Use the resources above, to proceed!
</div>
